<div class="container">
  <div class="forms-container">
    <div class="signin-signup">
      <form action="#" class="sign-in-form">
        <h2 class="title">Entrar</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" />
        </div>
        <input type="submit" value="Login" class="btn solid" />
        <p class="social-text">Or Sign in with social platforms</p>
      </form>
      <form action="#" class="sign-up-form">
        <h2 class="title">Criar Conta</h2>
        <div class="input-field">
          <i class="fas fa-user"></i>
          <input type="text" placeholder="Username" />
        </div>
        <div class="input-field">
          <i class="fas fa-envelope"></i>
          <input type="email" placeholder="Email" />
        </div>
        <div class="input-field">
          <i class="fas fa-lock"></i>
          <input type="password" placeholder="Password" />
        </div>
        <input type="submit" class="btn" value="Sign up" />
        <p class="social-text">Or Sign up with social platforms</p>
      </form>
    </div>
  </div>

  <div class="panels-container">
    <div class="panel left-panel">
      <div class="content">
        <img src="../../../assets/img/pilian/Logo Pilian - iconogr fica - vetor.svg" width="600px" alt="">
        <button class="btn transparent" id="sign-up-btn">
          Criar Conta
        </button>
      </div>
      <img src="img/log.svg" class="image" alt="" />
    </div>
    <div class="panel right-panel">
      <div class="content">
        <img src="../../../assets/img/pilian/Logo Pilian - iconogr fica - vetor.svg" width="600px" alt="">
        <button class="btn transparent" id="sign-in-btn">
          Acessar Conta
        </button>
      </div>
    </div>
  </div>
</div>
