::ng-deep .p-dialog .p-dialog-header {
  background: rgb(196, 242, 27);
  color: #131313;
  padding: 0.5rem;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
::ng-deep .p-dropdown .p-dropdown-label {
  background: #ebebeb;
  font-weight: 600;
  color: #9ca3af;
  border-radius: 8px 0 0 8px;
}

::ng-deep.p-dropdown .p-dropdown-trigger {
  background: #ebebeb!important;
}

.pilian-container-modal{
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}
label{
 font-size: 13px;
}
.pilian-container-botton-modal{
  position: fixed;
  bottom: 0;
  width: 95%;
  padding: 10px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #f5f5f5;
}
.pilian-opcao-limpar{
  position: absolute;
  top: 0;
  right: 7%;
}
