<div class="grid grid-cols-4 gap-4 pilian-custon-container">
  <div (click)="adicionarFuncionario()" class="bg-gray-950 pilian-custon-button py-2 w-full rounded-xl items-center justify-center text-white flex gap-2">
    <div class="pilian-custon-icone p-2 text-2xl flex items-center">
      <i class='bx bxs-user-plus' ></i>
    </div>
    <span class="z-1">Adicionar Funcionario</span>
  </div>

  <div class="bg-gray-950 pilian-custon-button py-2 w-full rounded-xl items-center justify-center text-white flex gap-2">
    <div class="pilian-custon-icone p-2 text-2xl flex items-center">
      <i class='bx bxs-user-check'></i>
    </div>
    <span class="z-1">Funcionarios Online</span>
    <div class="pilian-custon-number">
      <span>10</span>
    </div>
  </div>

  <div class="bg-gray-950 pilian-custon-button py-2 w-full rounded-xl items-center justify-center text-white flex gap-2">
    <div class="pilian-custon-icone p-2 text-2xl flex items-center">
      <i class='bx bxs-user-x' ></i>
    </div>
    <span class="z-1">Funcionario Offline</span>
    <div class="pilian-custon-number">
      <span>10</span>
    </div>
  </div>

  <div class="bg-gray-950 pilian-custon-button py-2 w-full rounded-xl items-center justify-center text-white flex gap-2">
    <div class="pilian-custon-icone p-2 text-2xl flex items-center">
      <i class='bx bx-group'></i>
    </div>
    <span class="z-1">Todos Funcionario</span>
    <div class="pilian-custon-number">
      <span>10</span>
    </div>
  </div>
</div>
