
  <div *ngIf="!ready" class="pilian-adicionar-segundo-foto">
    <p-button label="Adicionar" icon="bx bxs-plus-circle" (click)="_fileInput.click()" [style]="{'backgroundColor':'rgb(196, 242, 27)', 'padding': '15px 40px', 'color': '#131313'}"></p-button>
  </div>

  <input #_fileInput type="file" (change)="cropper.selectInputEvent($event)" accept="image/*" hidden>
<div *ngIf="ready" style="display: flex; align-items: center;">
  <button (click)="cropper.zoomIn()" ly-button appearance="icon"><ly-icon>zoom_in</ly-icon></button>
  <button (click)="cropper.zoomOut()" ly-button appearance="icon"><ly-icon>zoom_out</ly-icon></button>
  <button (click)="cropper.center()" ly-button appearance="icon"><ly-icon>filter_center_focus</ly-icon></button>
  <button (click)="cropper.rotate(-90)" ly-button appearance="icon"><ly-icon>rotate_90_degrees_ccw</ly-icon></button>
  <button (click)="cropper.fit()" ly-button><i class='bx bx-image' ></i> Ajustar foto</button>
  <button (click)="cropper.fitToScreen()" ly-button><i class='bx bx-image-add' ></i>Ajustar</button>
  <button (click)="cropper.setScale(1)" ly-button>1:1</button>
  <button *ngIf="ready" (click)="cropper.clean()" ly-button><i class='bx bx-camera-off' ></i> Limpar</button>
</div>

<ly-img-cropper
  [config]="myConfig"
  [(scale)]="scale"
  (minScale)="minScale = $event"
  (ready)="ready = true"
  (cleaned)="ready = false"
  (cropped)="onCropped($event)"
  (loaded)="onLoaded($event)"
  (error)="onError($event)"
>
  <span style="margin-top: 80px; text-align: center;">Clique aqui para adicionar uma foto!</span>
</ly-img-cropper>

<div *ngIf="ready" [className]="classes.sliderContainer">
  <ly-slider
    [thumbVisible]="false"
    [min]="minScale"
    [max]="1"
    [(ngModel)]="scale"
    (input)="onSliderInput($event)"
    step="0.000001" ></ly-slider>
</div>

<div class="pilian-corta-imagem">
  <p-button *ngIf="ready" label="Substutuir foto" icon="bx bxs-image-add" (click)="_fileInput.click()"[style]="{'backgroundColor':'rgb(183 232 2)', 'borderRadius': '0', 'padding': '14px', 'color': '#131313', 'marginRight':'15px'}"></p-button>
</div>

<div><img [class]="classes.cropResult" *ngIf="croppedImage" [src]="croppedImage"></div>

<div *ngIf="ready" class="pilian-header-botoes gap-2">
  <div class="pilian-adicionar-foto">
    <p-button (disabled)="croppedImage" label="Corta Foto" *ngIf="ready" icon="bx bx-scan"  (click)="cropper.crop()"   [style]="{'backgroundColor':'#131313', 'padding': '15px 40px', 'color': '#fff'}"></p-button>
  </div>
  <p-button (disabled)="croppedImage" bg="accent" label="Salvar" (onClick)="salvarFoto()" icon="bx bxs-save" [style]="{'backgroundColor':'rgb(196, 242, 27)', 'padding': '15px 40px', 'color': '#131313'}"></p-button>
</div>
