<div class="bgPilian">
  <section class="logoPilian">
    <img class="image" src="../../../assets/img/pilian/Logo Pilian - iconogr fica - vetor.svg" alt="">
    <div class="logoTextoPilianPrincipal">
      <h1>Pilian</h1>
      <span>Gestor</span>
    </div>
    <div class="logoPilianCompleto">
      <img class="imageLogo" src="../../../assets/img/pilian/Logo Pilian - iconogr fica - vetor.svg" alt="">
     <div class="logoTextoPilian">
      <h1>Pilian</h1>
      <span>Gestor</span>
     </div>
    </div>

  </section>
  <section class="formularioLogin">
    <form action="#" class="sign-up-form">
      <h2 class="title">Acessar o Pilian</h2>
      <div class="input-field">
        <i class="fas fa-address-card"></i>
        <input type="text" placeholder="Matricula" />
      </div>
      <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" placeholder="Senha" />
      </div>
      <input type="submit" class="btn" value="Entrar" />
    </form>
  </section>
</div>
