.even-row {
  background-color: #ffffff; /* Cor de fundo para linhas pares */
}

.odd-row {
  background-color: #f8f9fa; /* Cor de fundo para linhas ímpares */
}

.online {
  color: green;
}

.offline {
  color: red;
}
.mat-mdc-menu-item {
  min-height: 29px!important;
}
