<p-table [value]="listaFuncionarios" [paginator]="true" [rows]="10" [(selection)]="selecionadoFuncionario" dataKey="id"  [style]="{'borderRadius': '10px'}">
  <ng-template pTemplate="caption">
    <span>Lista de Funcionarios</span>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
      <th style="width: 4rem">
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>Nome</th>
      <th>Telefone/Ramal</th>
      <th>Modulo</th>
      <th>Cargo</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-funcionarios let-rowIndex="rowIndex">
    <tr class="pilian-custon-border" [class.even-row]="rowIndex % 2 === 0" [class.odd-row]="rowIndex % 2 !== 0">
      <td>
          <p-tableCheckbox [value]="funcionarios"></p-tableCheckbox>
      </td>
      <td class="flex gap-4 items-center">
        <img *ngIf="funcionarios?.sexo === 'm'" style="width: 40px; height: 40px; border-radius: 50%;" src="../../../../../assets/img/funcionario-m.png" alt="">
        <img *ngIf="funcionarios?.sexo === 'f'" style="width: 40px; height: 40px; border-radius: 50%;"src="../../../../../assets/img/funcionario-f.png" alt="">
        <div class="flex flex-col">
          <span class="font-bold">{{ funcionarios?.nome }}</span>
          <span class="font-extralight text-xs">{{ funcionarios?.email }}</span>
        </div>
      </td>
      <td>{{ funcionarios?.telefone | mask:'(00) 0000-00000'}}</td>
      <td>{{ funcionarios?.modulo }}</td>
      <td>{{ funcionarios?.cargo }}</td>
      <td><span [ngClass]="{'online': funcionarios?.status === 'online', 'offline': funcionarios?.status === 'offline'}">{{ funcionarios?.status }}</span></td>
      <td>
        <button mat-button style="padding: 11px; border-radius: 28%;" [matMenuTriggerFor]="animals"><i class="fas fa-bars"></i></button>
        <mat-menu #animals="matMenu">
          <button mat-menu-item><i class="fas fa-id-card"></i> Detalhe</button>
          <button mat-menu-item (click)="editarFuncionario(funcionarios)"><i class="fas fa-edit"></i> Editar</button>
          <button mat-menu-item><i class="fas fa-trash"></i>  Remover</button>
        </mat-menu>
      </td>
    </tr>
  </ng-template>
</p-table>

<br/>
<br/>
<br/>
<br/>
<br/>
