.even-row {
  background-color: #ffffff; /* Cor de fundo para linhas pares */
}

.odd-row {
  background-color: #f3f1f1; /* Cor de fundo para linhas ímpares */
}

.online {
  color: green;
}

.offline {
  color: red;
}
