.pilian-container-404{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.pilian-conteudo-404{
    text-align: center;
    padding: 20px;
}
.pilian-container-404 img{
  width: 40%;
}
@media (max-width: 768px) {
  .pilian-conteudo-404 {
      width: 90%;
  }
}
