<p-toast></p-toast>

<div style="position: fixed; width: 100%; margin: 0;z-index: 8; ">

  <p-menubar  [style]="{'background-color': '#131313', 'border-radius': 0, 'height': '60px'}">
    <ng-template pTemplate="start">
    </ng-template>
    <ng-template pTemplate="end">
      <div class="card flex justify-content-center">
        <div pRipple class="container-user" style="cursor: pointer;">
          <i class='bx bxs-bell'></i>
          <p-avatar icon="bx bxs-user" styleClass="mr-2"shape="circle" [style]="{'backgroundColor': 'rgb(143 179 13)','fontWeight': '700', 'border': '2px solid #c0ee31'}"></p-avatar>
      </div>
    </div>
    </ng-template>
  </p-menubar>
</div>

<div class="sidebar">
  <div class="logo-details">
      <div class="logo_name"><img src="../../../../assets/img/pilian/Logo Pilian - iconogr fica - vetor copy 2.svg" width="60px" alt="">
         Pilian</div>
      <i class='bx bx-menu' id="btn" ></i>
  </div>
  <ul class="nav-list" id="menu">
    <li>
      <a [routerLink]="getUrl('dashboard')" routerLinkActive="active" >
        <i class='bx bx-grid-alt'></i>
        <span class="links_name">Dashboard</span>
      </a>
       <span class="tooltip">Dashboard</span>
    </li>

   <li>
    <a [routerLink]="getUrl('funcionarios')" routerLinkActive="active" >
      <i class='bx bx-group'></i>
      <span class="links_name">Funcionários</span>
    </a>
    <span class="tooltip">Funcionários</span>
  </li>
  <li>
    <a [routerLink]="getUrl('minhaConta')" routerLinkActive="active" >
      <i class='bx bx-user' ></i>
      <span class="links_name">Minha Conta</span>
    </a>
    <span class="tooltip">Minha Conta</span>
  </li>
   <li>
     <a [routerLink]="getUrl('modulos')" routerLinkActive="active" >
      <i class='bx bx-minus-back'></i>
       <span class="links_name">Modulos</span>
     </a>
     <span class="tooltip">Modulos</span>
   </li>
   <li>
     <a [routerLink]="getUrl('analitico')" routerLinkActive="active" >
       <i class='bx bx-pie-chart-alt-2' ></i>
       <span class="links_name">Analitico</span>
     </a>
     <span class="tooltip">Analitico</span>
   </li>
   <li>
     <a [routerLink]="getUrl('configuracao')" routerLinkActive="active" >
       <i class='bx bx-cog' ></i>
       <span class="links_name">Configuração</span>
     </a>
     <span class="tooltip">Configuração</span>
   </li>
   <!-- removido pra ideias futuras
   <li class="profile">
       <div class="profile-details">
         <img src="profile.jpg" alt="profileImg">
         <div class="name_job">
           <div class="name">Prem Shahi</div>
           <div class="job">Web designer</div>
         </div>
       </div>
       <i class='bx bx-log-out' id="log_out" ></i>
   </li>
   -->
  </ul>
</div>
<div class="home-section">

<router-outlet></router-outlet>
</div>
