::ng-deep body .p-datatable .p-datatable-header {
  background-color: #c4f21b!important;
  border-radius: 10px 10px 0 0;
  font-size: 1.25rem;
}
::ng-deep .p-checkbox .p-checkbox-box {
  border: none;
  color: rgb(196, 242, 27);
  border-radius: 50%;
  background: rgb(215, 215, 215);
}
::ng-deep .p-checkbox .p-checkbox-box.p-highlight {
  border-color: none;
  background: rgb(41, 41, 41)!important;
}
::ng-deep  body .p-paginator {
  position: fixed;
  z-index: 9999!important;
  width: 100%;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 0!important;
  background: #131313;
}
::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background:#141414;
  border-color:none ;
  color: rgb(195, 242, 27);
  z-index: 99;
}
::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  padding: 0.5rem 0.5rem;
}
::ng-deep.p-datatable .p-datatable-thead > tr > th{
  padding: 0.5rem 0.5rem;
}
