/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body { height: 100%; }
body { margin: 0; font-family: "Open Sans", sans-serif;}

input {
  background: #ebebeb;
  padding: 10px;
  font-weight: 600;
  font-size: 14px;
  color: #131313;
  border: 1px solid #dfdfdf;
}
input:-internal-autofill-selected {
  background-color:  #ebebeb!important;
}
